@use '@angular/material' as mat;

h1{
    margin: 1%;
    color: #2d67b1 !important;
    text-align: center;
    font-weight: bolder !important;
}

.mat-mdc-form-field{
    width: 98%;
    margin: 1%;
}

button{
    margin: 2px;
}

.emoji-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px;
}
  
.emoji {
  cursor: pointer;
  font-size: 24px;
  color: black; 
}

.emoji.selected {
  color: #2d67b1; 
}

p{
  font-size: 16px;
  margin-left: 10px;
  color: rgb(107, 105, 105);
}