<mat-toolbar>

    <button mat-icon-button (click)="drawer.toggle()" class="menu-button" *ngIf="isNavbarHidden">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="title">Ticket Management System</span>

    <span class="example-spacer"></span>

    <!-- <button mat-icon-button (click)="badgeVisibility()" class="notification-button">
        <mat-icon matBadge="16" matBadgeSize="large" [matBadgeHidden]="isBadgeVisible">notifications</mat-icon>
    </button> -->

    <ng-container *ngIf="!isNavbarHidden">
        @if(role!=='guest'){
            <button routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Dashboard</button>
        }
        <button routerLink="/tickets" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Tickets</button>
        <button routerLink="/archive-tickets" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Archive</button>
        @if(role=='admin'){
            <button routerLink="/users" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Users</button>
        }

        <button [matMenuTriggerFor]="userMenu">
            <span>
                <img class="profile" src="assets/images/profile_pictures/user.jpg" alt="user">
            </span>
        </button>
    
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>Logout
            </button>
        </mat-menu>
    </ng-container>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer [mode]="'over'" opened=false>
        <mat-nav-list>
            @if(role!=='guest'){
                <mat-list-item routerLinkActive="active">
                    <button routerLink="/dashboard">
                        <mat-icon>dashboard</mat-icon> Dashboard
                    </button>
                </mat-list-item>
            }
            <mat-list-item routerLinkActive="active">
                <button routerLink="/tickets">
                    <mat-icon>list_alt</mat-icon> Tickets
                </button>
            </mat-list-item>
            @if(role=='admin'){
                <mat-list-item routerLinkActive="active">
                    <button routerLink="/users">
                        <mat-icon>group</mat-icon> Users
                    </button>
                </mat-list-item>
            }
            <mat-list-item routerLinkActive="active">
                <button routerLink="/archive-tickets">
                    <mat-icon>archive</mat-icon> Archive Tickets
                </button>
            </mat-list-item>

            <mat-list-item routerLinkActive="active">
                <button (click)="logout()">
                    <mat-icon>logout</mat-icon> Logout
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
            <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
